@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (@Html.Raw(Json.Serialize(TempData["ShowRegisterSuccess"])) === true) {
                Swal.fire({
                    title: 'Реєстрація пройшла успішно!',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1000
                });
            }

            if (@Html.Raw(Json.Serialize(TempData["ShowLoginSuccess"])) === true) {
                Swal.fire({
                    title: 'Успішний вхід в систему!',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1000
                });
            }

            if (@Html.Raw(Json.Serialize(TempData["ShowLogoutSuccess"])) === true) {
                Swal.fire({
                    title: 'Ви вийшли з системи!',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1000
                });
            }
        });
    </script>
</head>
<body class="popup-body">
    <div class="popup-container" id="popup">
        <p id="popup-message"></p>
    </div>
    <div class="text-center">
        <h1 class="display-4">Ласкаво просимо.</h1>
    </div>
</body>
</html>
