@using RetailRally.ViewModels
@model NewPasswordVm
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <script>
        function togglePasswordVisibility() {
            var passwordField = $('#password');
            var showIcon = $('.eye-icon.show-password');
            var hideIcon = $('.eye-icon.hide-password');

            if (passwordField.attr('type') === 'password') {
                passwordField.attr('type', 'text');
                showIcon.addClass('hide');
                hideIcon.removeClass('hide');
            } else {
                passwordField.attr('type', 'password');
                showIcon.removeClass('hide');
                hideIcon.addClass('hide');
            }
        }
    </script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                <span class="text-danger" style="white-space: pre-line;">@Html.Raw(ViewData["PasswordCheckError"])</span>
                    <div class="card-header">
                        <h3 class="text-center">Set New Password</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Please enter your new password.</p>
                        <form asp-action="ConfirmNewPassword" method="post">
                            <input asp-for="UserId" type="hidden" />
                            <div class="password-container">
                                <input class="form-control" asp-for="NewPassword" type="password" placeholder="Enter your new password" id="password" name="password">
                                <span class="eye-icon show-password" onclick="togglePasswordVisibility()"></span>
                                <span class="eye-icon hide-password hide" onclick="togglePasswordVisibility()"></span>
                            </div>
                            <div class="form-group">
                                <label for="emailInput">Confirm password</label>
                                <input asp-for=ConfirmPassword type="password" class="form-control" placeholder="Confirm your new password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button style="margin-top:10px" type="submit" class="btn btn-primary">Update Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var inputs = document.querySelectorAll('input, textarea');
            var validationSpans = document.querySelectorAll('.text-danger');

            inputs.forEach(function (input) {
                input.addEventListener('input', function () {
                    validationSpans.forEach(function (span) {
                        span.textContent = '';
                    });
                    var validationSummary = document.querySelector('.validation-summary-errors');
                    if (validationSummary) {
                        validationSummary.style.display = 'none';
                    }
                });
            });
        });
    </script>
</body>
</html>

