@using RetailRally.ViewModels
@model UserProfileViewModel

@if (Model != null)
{
    <a class="user-profile-link" asp-controller="User" asp-action="MyProfile">
        <div class="user-profile">
            <img id="profileIcon" src="@Model.PictureUrl" alt="Profile Image">
            <div class="user-info">
                <div class="user-name">@Model.FirstName @Model.LastName</div>
                <div class="user-email">@Model.Email</div>
            </div>
        </div>
    </a>
}
